*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

nav {
    background-color: rgb(255 255 255 / 25%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-nav a{
    color: #edf1f7;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cover {
    background-image: url("../images/cover.jpg");
    width: 100%;  
    height: 600px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.presentation {
    color: #edf1f7;
}

.presentation h1 {
    font-size: 2.2rem;
    font-weight: revert;
}

.first-buttons-contact {
    color: #edf1f7;
    background: #000e28;
    border: #000e28 1px solid;
}    

footer {
    background-color: #000e28;
    height: 150px;
}


/*Desktop*/

@media (min-width: 1024px) {


    .nav{
        padding: 20px;

    }

    .navbar-nav li{
        margin: 5px;
    }

    .nav-link {
        font-size: 30px;
    }

    .presentation{
        padding-top: 300px;
        text-align: center;
    }

    .presentation h1 {
        font-size: 3.2rem;
        font-weight: revert;
    }

    .first-buttons {
        padding-top: 80px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .first-buttons ul {
        padding-left: 0;
    }

    .first-buttons div {
        display: flex;
        background: #fff;
        align-items: center;
        padding: 10px 70px;
        border-radius: 30px;
    }

    .first-buttons-request {
        color: black;
        background: white;
        border: black 1px solid;
        padding: 20px 60px;
        border-radius: 30px;
        margin: 12px;
    }

    .first-buttons-contact {
        padding: 20px 60px;
        border-radius: 30px;
        margin: 12px;
    }

    .second-presentation {
        padding: 80px;
        text-align: center;
    }

    .first-cards {
        padding: 40px;
    }

    .first-cards ul {
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-cards li {
        width: 25vw;
        margin: 15px;
        padding: 15px;
    }

    .third-presentation {
        text-align: center;
    }


    /*vertical line*/
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 100px auto;
    }

    .container-timeline{
        padding: 10px 50px;
        position: relative;
        width: 50%;
    }

    .text-box{
        padding: 20px 30px;
        background: white;
        position: relative;
        border-radius: 6px;
        font-size: 15px;
    }

    .left-timeline {
        left: 0;
    }

    .right-timeline {
        left: 50%;
    }

    .container-timeline img {
        position: absolute;
        width: 40px;
        border-radius: 50%;
        right: -20px;
        top: 32px;
        z-index: 10;
    }

    .right-timeline img {
        left: -20px;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background: #101c84;
        top: 0;
        left: 50%;
        margin-left: -3px;
        z-index: -1;
    }

    /*vertical line*/

    .goals{
        padding-top: 60px;
        text-align: center;
    }

    .banks {
        padding-top: 80px;
        text-align: center;
    }

    .banks ul {
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }

    .requirements {
        padding-top: 60px;
    }

    .requirements h3{
        text-align: center;
    }

    .requirements-firstcards {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    .requirements-firstcards figure {
        width: 40vw;
        margin: 10px;
        border: 1px solid blue;
    }

    .requirements-secondcards {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    .requirements-secondcards figure {
        width: 40vw;
        margin: 10px;
        border: 1px solid blue;
    }

    .form-section {
        padding-top: 30px;
    }

    .form-section article {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .form-section-card {
        width: 25vw;
        border: 1px solid black;
        margin: 10px;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-section-online {
        width: 25vw;
        border: 1px solid black;
        margin: 10px;
        height: 20vh;
        text-align: center;
    }

    .phrases {
        padding-top: 30px;
    }

    .phrases-section {
        display: flex;
        justify-content: center;
    }

    .phrases-sentences {
        margin-left: 30px;
    }

    .faq {
        display: flex;
        justify-content: center;
        padding: 65px 40px;
    }

    .faq-title {
        margin-right: 30px;
    }

    .faq-list {
        width: 70vw;
    }

    .last-phrases {
        padding: 65px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

